body {
background: black;
}

.progress {
    --progress: 0%;/*variable que afecta a los hijos con el fin de cambiar el progress value*/
    --color: #EE82EE;
    --light-color: rgb(206, 9, 206);
    --speed: 0.7s;
    width: 600px;
    height: 60px;
    border: white;
    margin: 8rem auto;
    box-shadow: 0 0 4px grey;
}

.bar {
    background: grey;
    height: 100%

}

.progress-value {
    width: var(--progress);
    height: 100%;
    background: linear-gradient( var(--color),var(--light-color), var(--color)) ;
    box-shadow: 0 0 10px 2px var(--light-color);
    transition: width var(--speed);
    animation: shine 3s linear infinite;
}

@keyframes shine {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 50px;
    }
}